<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ifa.ifatiguealerter">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <service android:name=".WindowChangeDetectingService"
            android:label="I Fatigue Alerter"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <service
            android:name=".BlinkCounter"
            android:enabled="true" />

        <activity
            android:theme="@style/Theme.AppCompat"
            android:name=".DisplayResolActivity"
            android:label="@string/title_activity_display_resol" >
        </activity>

    </application>

</manifest>
